*{
    margin: 0;
    padding: 0;
}

.container{
    width: 1500px;
    height: auto;
    
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.block{
    width: 524px;
    height: 800px;
    border: solid 1px black;
    margin-top: 150px;
    background-color: rgb(197, 193, 193);
    border-radius: 20px;
}